@model MvcAutomapper.Models.UsuarioViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <label>ID</label><p>@Model.ID</p>
    <label>DNI</label><p>@Model.DNI</p>
    <label>Nombre</label><p>@Model.NombreApellidos</p>
    <label>Edad</label><p>@Model.Edad</p>
</div>